.container.text-center
  %h1
    LORIBLU – это:
  %h4 • международный бренд, предлагающий широкий выбор одежды и аксессуаров для женщин и мужчин.
  %h4 • стильная, не теряющая актуальности и функциональная одежда , подходящая для любых жизненных ситуаций.
  %h4 • разумный баланс качества и цен.
  %h4 • комфортный шоппинг.
  %h1 Наши ценности:
  %h4
    •
    %bПростота:
    Мы создаем актуальную, простую и легкую в уходе одежду, подчеркивающую индивидуальность человека и не доминирующую над личностью.
  %h4
    •
    %bКомфорт:
    Для максимального комфорта наших потребителей мы используем преимущественно натуральные ткани и комфортные силуэты.
  %h4
    •
    %bУниверсальность:
    Наши модели удобны и легко комбинируются друг с другом. Мы создаем одежду для любых жизненных ситуаций – работы и учебы, отдыха дома и на природе, встреч с друзьями и прогулок, любого времени дня и любой погоды.
  %h4
    •
    %bСовременность:
    Наши дизайнеры заботятся о неповторимом стиле покупателей, разрабатывая коллекции с использованием современных модных тенденций в дизайне и материалах.
