.container
  .row.margin-index
    %h1.margin-index.text-center Мужская одежда
    .col-md-4.text-center
      %h3 Верхняя одежда
      %a.img{href: men_jackets_index_path}
        .block-2
        %img.img-fluid{src: asset_path('men/men_jacket.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Рубашки
      %a.img{href: men_shirts_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_shirt.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Майки
      %a.img{href: men_t_shirts_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_t_shirt.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
  .row.margin-index
    .col-md-4.text-center
      %h3 Кофты
      %a.img{href: men_jumpers_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_jumper.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Штаны
      %a.img{href: men_pants_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_pants.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Джинсы
      %a.img{href: men_jeans_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_jeans.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
  .row.margin-index
    .col-md-4.text-center
      %h3 Обувь
      %a.img{href: men_shoes_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_shoes.jpg'), style: 'width: 275px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Спортивные костюмы
      %a.img{href: women_sport_suits_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_sport_suit.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Шапки
      %a.img{href: men_headdresses_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('men/men_headdress.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
