.container
  .row.text-center
    .col-md-4
      %img.img-fluid{src: asset_path('home.jpg'), style: 'width: 450px; height: 350px', alt: 'HELLO!'}/
    .col-md-4.col-md-offset-2
      %h1 LORIBLU – это:
      %h4 • международный бренд, предлагающий широкий выбор одежды и аксессуаров для женщин и мужчин.
      %h4 • стильная, не теряющая актуальности и функциональная одежда в стиле casual, подходящая для любых жизненных ситуаций.
      %h4 • разумный баланс качества и цен.
      %h4 • комфортный шоппинг.
