.container
  .row.margin-index
    %h1.margin-index.text-center Женская одежда
    .col-md-4.text-center
      %h3 Блузки
      %a.img{href: women_blouses_index_path}
        .block-2
        %img.img-fluid{src: asset_path('women/women_blouse.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Рубашки
      %a.img{href: women_shirts_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_shirt.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Майки
      %a.img{href: women_t_shirts_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_t_shirt.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
  .row.margin-index
    .col-md-4.text-center
      %h3 Кофты
      %a.img{href: women_jumpers_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_jumper.jpg'), style: 'width: 225px; height: 275px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Юбки
      %a.img{href: women_skirts_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_skirt.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Платья
      %a.img{href: women_dresses_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_dress.jpg'), style: 'width: 225px; height: 275px', alt: 'HELLO!'}/
  .row.margin-index
    .col-md-4.text-center
      %h3 Штаны
      %a.img{href: women_pants_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_pants.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Джинсы
      %a.img{href: women_jeans_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_jeans.jpg'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Спортивные костюмы
      %a.img{href: women_sport_suits_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_sport_suit.png'), style: 'width: 250px; height: 250px', alt: 'HELLO!'}/
  .row.margin-index
    .col-md-4.text-center
      %h3 Верхняя одежда
      %a.img{href: women_jackets_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_jacket.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Обувь
      %a.img{href: women_shoes_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_shoes.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
    .col-md-4.text-center
      %h3 Шапки
      %a.img{href: women_headdresses_index_path}
        .block-2
        %img.img-fluid.img-main{src: asset_path('women/women_headdress.jpg'), style: 'width: 225px; height: 250px', alt: 'HELLO!'}/
